{% extends "app/layout.html" %}

{% block title %}Add{% endblock title %}

{% block body %}
<h1>ADD</h1>
<form action="/add/" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="description"></textarea> <br>
    <input type="file" name="image" required> <br>
    <select name="category" placeholder="category">
        <option value="" disabled selected>category</option>
        <option value="nature">Nature</option>
        <option value="nature">Nature</option>
        <option value="nature">Nature</option>
    </select> <br>
    <input type="submit">
</form>
{% endblock body %}